<h2> Usage: </h2>
<h4> curl -X GET/POST http://r.qa.a.com/fireman </h4>
<ul>
  <li>
    <h4>GET /get/cookie/:username/:password/:env</h4>
    <h5>/get/cookie/user/passwd/qa(prod)</h5>
  </li>
  <li>
    <h4>GET /get/sid/:username/:password/:env</h4>
    <h5>/get/sid/user/passwd/qa(prod)</h5>
  </li>
  <li>
    <h4>POST /post/qq</h4>
    <h5>{ "message": "hello" }</h5>
    <h5>{ "message": "hello", "group": 1111111 }</h5>
  </li>
  <li>
    <h4>POST /post/mail</h4>
    <h5>{ "rev": "user@a.com", "data": "html data" }</h5>
  </li>
  <li>
    <h4>GET /monitor/all</h4>
    <h5>run all monitor</h5>
  </li>
</ul>
